.hero-container {
  background: rgba(0, 0, 0, 0.85);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  text-align: center;
  color: white;

  text-align: center;
}
.box h1 {
  font-size: 3rem;
  line-height: 2em;
}
.box h2 {
  line-height: 1.5em;
  margin-bottom: 10px;
}
.my-img {
  max-height: 200px;
  width: 220px;
  max-width: 250px;
  border-radius: 50%;
  border: 10px solid yellow;
}

@media screen and (max-width: 960px) {
  .box h1 {
    font-size: 3.2rem;
  }
}
