/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.triangle-down {
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid rgb(105, 105, 224);
}

.heading {
  font-size: 2.4rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

.heading::after,
.heading::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 8%;
  margin: 10px auto;
  border-bottom: 5px dashed #f16a70;
}

.heading::after {
  left: 40%;
}
.heading::before {
  right: 40%;
}

.face-mask {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
